* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 20px;
}

ul {
    list-style-type: none;
}

p {
    line-height: 30px;
}
@media (max-width: 570px) {
    p {
        line-height: 20px;
    }
}

.wrapper {
    position: relative;
    background-color: #FFFFFF;
    min-height: 100vh;
}

.container {
    width: 1224px;
    margin: 0 auto;
}
@media (max-width: 1264px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}