@import url("animation.css");

/* .header_inner h1{
  position: fixed;
  width: 1224px;
  height: 300px;
  z-index: 100;
  margin: auto;
} */

.home {
  position: relative;
  padding: 50px 0px 50px 0px;
  background: url("../images/kirito.avif") no-repeat top center;
  background-size: cover;
}
@media (max-width: 1450px) {
  .home {
    background: url("../images/kirito.avif") no-repeat top center;
  }
}
@media (max-width: 550px) {
  .home {
    background: url("../images/kirito_resize.avif") no-repeat top left;
  }
}

.photo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.photo .img {
  margin-left: 100px;
  width: 231px;
  height: 300px;
  background: url("../images/my_photo.avif") no-repeat left;
  background-size: cover;
  animation-name: slidein;
  animation-iteration-count: 2;
  animation-duration: 2s;
  animation-direction: alternate;
  transition: .3s;
}
@media (max-width: 1030px) {
  .photo .img {
    margin-left: 30px;
  }
}
@media (max-width: 970px) {
  .photo .img {
    width: 193px;
    height: 250px;
  }
}
@media (max-width: 765px) {
  .photo .img {
    width: 146px;
    height: 190px;
  }
}
@media (max-width: 480px) {
  .photo .img {
    margin-left: 0px;
    width: 125px;
    height: 162px;
  }
}
@media (max-width: 400px) {
  .photo .img {
    animation-name: none;
    width: 125px;
    height: 162px;
  }
}
@media (max-width: 355px) {
  .photo .img {
    animation-name: none;
    width: 110px;
    height: 143px;
  }
}

.photo .img:hover {
  background: url("../images/my_photo.avif") no-repeat right;
  background-size: cover;
}

.info h1 {
  color: blue;
  font-family: "Press Start 2P";
  font-weight: normal;
}

.photo .info {
  margin-right: 60px;
  width: 600px;
  height: 300px; 
  text-align: center;
  padding-top: 70px;
}
@media (max-width: 1030px) {
  .photo .info {
    margin-right: 10px;
    font-size: 20px;
  }
}
@media (max-width: 970px) {
  .photo .info {
    width: 450px;
    height: 400px;
  }
}
@media (max-width: 765px) {
  .photo .info {
    font-size: 13px;
    width: 320px;
    height: 300px;
  }
}
@media (max-width: 570px) {
  .photo .info {
    width: 270px;
    height: 350px;
  }
}
@media (max-width: 515px) {
  .photo .info {
    width: 240px;
    height: 362px;
  } 
}
@media (max-width: 480px) {
  .photo .info {
    width: 180px;
    height: 382px;
  }
}

.photo .info p {
  padding: 10px;
}
@media (max-width: 480px) {
  .photo .info h1 {
    font-size: 20px;
  }
}
 
/*************CLICKER**************/
.clicker {
  text-align: center;
}

#button {
  width: 100%;
  height: 130px;
  border-radius: 40px;
  font-size: 25px;
  margin: 10px auto;
  border: 3px black solid;
}

.clicker p {
  margin: auto;
  padding: 8px;
  font-size: 25px;
  width: 200px;
  background-color: grey;
  border-radius: 20px;
  border: 3px black solid;
}

/*************************************/
.edu_and_bio {
  border-top: #00FFFF 2px solid;
  background: url("../images/white_back.avif") no-repeat left;
  background-size: cover;;
}

.edu_and_bio_inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.edu_and_bio_inner h2 {
  font-weight: 600;
}

.edu_inner {
  width: 500px;
  height: 500px;
  text-align: end;
}

.bio_inner {
  width: 500px;
  height: 500px;
}
@media (max-width: 900px) {
  .edu_inner, .bio_inner {
    font-size: 15px;
  }
}
@media (max-width: 730px) {
  .edu_inner, .bio_inner {
    font-size: 10px;
  }
}

#fetch #data {
  width: 100px;
  height: 100px;
}

#fetch img {
  margin: 50px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.edu_and_bio_inner #logo {
  margin-right: 30px;
  animation-name: rotation;
  animation-iteration-count: infinite;
  animation-duration: 30s;
}
@media (max-width: 985px) {
  .edu_and_bio_inner img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 730px) {
  .edu_and_bio_inner img {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 590px) {
  .edu_and_bio_inner img {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 430px) {
  .edu_and_bio_inner img {
    width: 90px;
    height: 90px;
    margin-right: 0;
  }
}

/*************************************/
.aboutme {
  background: url("../images/white_back.avif") no-repeat center;
  background-size: cover;
}

.aboutme_inner {
  text-align: center;
}

.hobbies img {
  width: 500px;
  height: 300px;
}

.hobby {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.hobby {
  margin-top: 50px;
}

.hobby_1 {
  width: 570px;
  height: 570px;
  text-align: start;
}

.hobby_1 img {
  margin-top: 20px;
  animation-name: wave;
  animation-duration: .9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 3s;
}

.hobby_1 img:hover {
  animation-play-state: paused;
}

 .hobby_2 {
  width: 570px;
  height: 570px;
  text-align: end;
}

.hobby_2 img {
  margin-top: 50px;
  animation-name: up_down;
  animation-duration: .9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 3s;
}

.hobby_2 img:hover {
  animation-play-state: paused;
}

.hobby_3 {
  margin-top: 50px;
}

.hobby_3 img {
  margin: 20px;
  animation-name: swap;
  animation-duration: .9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 3s;
}

.hobby_3 img:hover {
  animation-play-state: paused;
}
@media (max-width: 1190px) {
  .hobby_1, .hobby_2 {
    font-size: 15px;
    width: 450px;
  }
  .hobby_3 {
    font-size: 15px;
  }
  .hobbies img {
    width: 450px;
    height: 300px;
  }
}
@media (max-width: 1010px) {
  .hobbies img {
    width: 400px;
    height: 250px;
  }
}
@media (max-width: 960px) {
  .aboutme_inner {
    font-size: 15px;
  }
  .hobby_1, .hobby_2 {
    font-size: 13px;
    height: 480px;
  }
  .hobby_3 {
    font-size: 13px;
  }
  .hobbies img {
    width: 380px;
    height: 220px;
  }
}
@media (max-width: 900px) {
  .aboutme_inner {
    font-size: 14px;
  }
  .hobby_1, .hobby_2 {
    font-size: 11px;
    width: 400px;
    height: 400px;
  }
  .hobby_3 {
    font-size: 11px;
    margin-top: 100px;
  }
  .hobbies img {
    width: 350px;
    height: 200px;
  }
}
@media (max-width: 850px) {
  .aboutme_inner {
    font-size: 13px;
  }
  .hobby_1, .hobby_2 {
    font-size: 10px;
    width: 300px;
    height: 400px;
  }
  .hobby_3 {
    font-size: 10px;
    margin-top: 70px;
  }
  .hobbies img {
    width: 250px;
    height: 150px;
  }
}
@media (max-width: 645px) {
  .hobby_1, .hobby_2 {
    width: 250px;
    height: 380px;
  }
  .hobbies img {
    width: 180px;
    height: 120px;
  }
}
@media (max-width: 570px) {
  .hobby_3 {
    margin-top: 0px;
  }
}
@media (max-width: 540px) {
  .hobby_1, .hobby_2 {
    width: 200px;
    height: 350px;
  }
  .hobby_2 img {
    margin-top: 80px;
  }
  .hobby_3 {
    margin-top: 50px;
  }
  .hobbies img {
    width: 150px;
    height: 100px;
  }
}
@media (max-width: 450px) {
  .hobby_1, .hobby_2 {
    width: 150px;
    height: 430px;
  }
  .hobby_2 img {
    margin-top: 80px;
  }
}

/*************************************/
.footer {
  border-top: #00FFFF 2px solid;
}

.footer_inner {
  padding: 50px 0px;
}

.contacts {
  width: 300;
  height: 300;
  text-align: center;
  font-size: 25px;
}

.contact_1 img {
  width: 60px;
  height: 60px;
  border-radius: 18px;
}

.contact_2 img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.contact {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  margin: auto;
  width: 125px;
  transition: .2s;
}

.contact img:hover {
  background-color: rgba(0, 255, 255, 0.5);
}
@media (max-width: 900px) {
  .contacts h3 {
    font-size: 20px;
  }
  .contact img {
    width: 40px;
    height: 40px;
  }
  .contact_1 img {
    border-radius: 12px;
  }
}
@media (max-width: 600px) {
  .contacts h3 {
    font-size: 20px;
  }
  .contact img {
    width: 30px;
    height: 30px;
  }
  .contact_1 img {
    border-radius: 8px;
  }
}